<div class="container">
  <div class="ehead">
    <h3>
      <%= content_tag :div, class: "exception", data: { status: @exception.status, response: @exception.response.to_s.humanize, rails: Rails.version }, onclick: ("location.href=\"#{root_url}\";" if @exception.status == "500" && Rails.application.routes.recognize_path("/")), title: ("Return Home" if @exception.status == "500" && Rails.application.routes.recognize_path("/")) do %>
      <%= content_tag :span, @exception.description.html_safe.upcase %>
      <% end %>
    </h3>
  </div>
  <section>
      <h5>this is awkward but the page you are trying to access in unavailable</h5>
      <%= link_to 'Go back', staffs_path %>
  </section>
</div>
