// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
  margin: 0;
  padding: 0;
  background: url(sayagata-400px.png) repeat;
}

.head {
  background: #273746;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  height: 48px;
  position: fixed;
  top: 0;
  box-shadow: 1px 0 2px rgba(0,0,0,0.7);

  .menu-container {
    float: right;

  }

  .brand {
    float: left;
    font-weight: bolder;
    padding: 0 15px;

    a {
      background: url(app_network_2.png);
      background-size: cover;
      height: 28px;
      width: 28px;
      overflow: hidden;
      display: block;
      text-indent: 38px;
      transition: width 0.3s;

      &:hover {
        background: url(app_network_2.png);
        background-size: cover;
        transition: width 0.3s;
      }
    }

  }

  a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;

    &:hover {
      color: #fff;
      transition: 0.3s;
      background: none;
    }
  }

   ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      float: right;
      padding: 0px 8px;
      margin: 0 15px 0 0;
    }
   }


   .profile-avatar {
     display: block;
     height: 28px;
     width: 28px;
     background-size: cover;
     background-position: center;
     background-color: rgba(0,0,0,0.3);
     overflow:hidden;
     padding:0;
     margin: 0;
   }
}

.container {
  padding: 10px 15px;
  margin: 55px auto 15px;

  section {
    max-width: 70%;
    margin: 0 auto;
    background: #eff3f5;
    padding: 25px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }

  h1 {

  }

  h2 {
    width: 80%;
    display: block;
  }

  h3 {

  }

  h4 {
    font-size: 18px;
    line-height: 23px;
  }

  ul {
    padding: 0;
    margin: 0;

    li{
      list-style: none;


        a {
          text-decoration: none;
          color: rgba(0,0,0,0.5);
          transition: 0.03s;

          &:hover {
            background: none;
            color: rgba(0,0,0,0.9);
            transition: 0.03s;
          }
        }
    }

  }

  .create-feed {
    max-width: 800px;
    display: block;
    margin: 10px auto;

    textarea {
      width: 100%;
      padding: 15px;
      border-radius: 3px 3px 3px 3px;
      border: 1px rgba(0,0,0,0.3) solid;
      margin: 15px 0;
    }
  }

  .user_post {
    max-width: 800px;
    display: block;
    margin: 25px auto;
  }

  .image-placeholder {
    display: block;
    height: 100px;
    width: 100px;
    background: rgba(0,0,0,0.2);
    background-position: center center;
    background-size: cover;
  }

  .feed-content {
     margin: 35px 0 15px;
     padding: 25px 5px 0;
     border-top: 1px rgba(0,0,0,0.3) solid;

     .feed-avatar {
       img {
         border-radius: 2px 2px 2px 2px;
         float: left;
       }
     }

     .feed-user {
       float: left;
       padding: 0 25px;
     }

     .feed-context {
       padding: 15px 75px;
       color: rgba(0,0,0,0.7);
     }

     .feed-action {
       text-align: right;
       a {
         font-size: 13px;
       }
     }
  }

  .comment-content {
    padding: 15px 20px;

    .comment-profile {
      float: left;margin: 5px 10px 0 0;
      img {
        border-radius: 2px 2px 2px 2px;
      }
    }

    .comment-user {
      float: left;
      font-size: 12px;
    }

    .comment-context {
      font-size: 12px;
      padding: 25px 37px;
    }

    .comment-action {
      text-align: right;
      padding: 5px;
      a {
        font-size: 13px;
      }
    }

    .create-comment {
      textarea {
        width: 100%;
        border-radius: 2px 2px 2px 2px;
        border: 1px rgba(0,0,0,0.4) solid;
      }


      .field {
        margin: 15px auto 10px;

        textarea {
          font-size: 12px;
          padding: 10px;
        }
      }

      .actions {
        font-size: 12px;
      }
    }
  }
}

.clear {
    clear: both;
}

.front {

}

.log-session {
  width: 30%;

  .log-head {
    background: #273746;
    padding: 10px;
    width: 70%;
    margin: 0 auto;

    h2 {
      color: #fff;
      font-weight: bolder;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }

  .log-field {
    width: 100%;
  }

  label {
    color: rgba(0,0,0,0.6);
  }

  .field {
    padding: 6px;
    font-size: 13px;
  }

  .logo {
    height: 100px;
    width: 100px;
    display: block;
    margin: 10px auto;
    overflow: none;
    text-indent: -2000em;
    background: url(app_network_2.png) no-repeat;
    background-size: cover;
  }

}

.ehead {
  background: #273746;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 10px;

  h4 {
    font-weight: bolder;
  }
}
